.box {
  display: grid;
  width: 100%;
  margin: 0 auto;
  
  @for $i from 1 through $max-columns {
    &-col-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }

  &--spacing {
    @each $name, $space in $spaces {
      &-#{$name} {
        grid-gap: $space;
      }
    }
  }
}