.category-page {
  margin-top: 80px;
  min-height: 100vh;
  padding: $db-spacing-20;
  background-color: $db-page-background;

  &__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .search {
    margin-bottom: $db-spacing-20;

    .textfield {
      flex: 1;
      margin-bottom: 0;
    }

    .button {
      margin-left: $db-spacing-8;
    }
  }

  .products {
    .card--orientation-horizontal {
      .card__header {
        border-right: 1px solid rgba(0, 0, 0, 0.07);
      }
    }
  }
}

// Media Queries
@media screen and (max-width: 768px) {
  .category-page {
    margin-top: 90px;
  }
}
