$max-columns: 12;
$max-rows: 4;

$spaces: (
  4: $db-spacing-4,
  8: $db-spacing-8,
  12: $db-spacing-12,
  16: $db-spacing-16,
  20: $db-spacing-20,
  24: $db-spacing-24,
  28: $db-spacing-28,
  32: $db-spacing-32,
  40: $db-spacing-40,
  48: $db-spacing-48,
  56: $db-spacing-56,
  64: $db-spacing-64,
);
