.card {
  .card__body {
    &--padding-0 {
      padding: 0;
    }

    &--padding-4 {
      padding: $db-spacing-4;
    }

    &--padding-8 {
      padding: $db-spacing-8;
    }

    &--padding-12 {
      padding: $db-spacing-12;
    }

    &--padding-16 {
      padding: $db-spacing-16;
    }

    &--padding-20 {
      padding: $db-spacing-20;
    }

    &--padding-24 {
      padding: $db-spacing-24;
    }

    &--padding-32 {
      padding: $db-spacing-32;
    }
  }
}
