.search-box {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  // .textfield {
  //   flex: 1;
  //   margin-bottom: 0;
  // }

  // .button {
  //   margin-left: $db-spacing-8;
  // }

  .dropdown {
    width: 250px;
    margin-bottom: 0;
    
    &__content {
      z-index: 10;
    }
  }
}
